.bem-pattern-valid {
    background-color: aqua;
}

.bem-pattern-valid .bem-pattern-valid__inner {
    background: blue;
}

.bem-pattern-valid .bem-pattern-valid__text {
    display: inline;
}

.bem-pattern-valid .bem-pattern-valid__text--active {
    display: block;
}